<h1>Play PingPong!</h1>
<form action='/results' method='get'>
  <div class="form-group">
    <label for="number">Your number</label>
    <input id="number" name="number" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>
